---
import DefaultLayout from '../layouts/Default.astro';
import Card from '../components/Card.astro';
import {ViewTransitions} from 'astro:transitions';

import enterpriseProjects from "../assets/projects.json";

function cardColor( index : number ) : string {

  if ( index % 2 === 0 ) return 'bg-slate-200'
  
  return ''
  
}

function textColor( index : number ) : string {

if ( index % 2 === 0 ) return ''

return 'text-slate-700'

}
---
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewp ort' content='width=device-width, initial-scale=1.0'>
  <ViewTransitions />
</head>

<DefaultLayout title="Accueil - Antoine Jézéquel">
	<main class="ml-10 mt-16">

    <!-- <section class="h-96" >
      
    </section> -->

    <section>
      <h3 class=" text-2xl ">Projet en cours</h3> 
      <br>
      <article class="rounded h-80 bg-gradient-to-l from-indigo-50 py-2 flex flex-row" >
        <img class=" max-h-full" src="https://cdn.dribbble.com/users/1756963/screenshots/16199327/media/2574545a2a10397d6bb43b8001ecc585.png" alt="">
        <div class="flex flex-col ml-10 px-10 py-6" >
          <p class=" font-mono text-xl h-6 mb-4" ><strong>DocMe</strong></p>
          <p class=" font-light text-base" >
            Application communautaire basée sur l'échange de données sur des produits. <br>
            Elle a pour objectif de fournir des images, vidéos, documents... permettant l'entretien et la réparation de produits électroménagers, véhicules, etc.<br>
            De plus, un espace pour les professionnels et particuliers vendant des pièces sera mis en place.
          </p>
          <div class="flex flex-col mt-auto" >
            <span class=" font-semibold" >Stack : </span>
            <ul>
              <li><a target="_blank" href="https://bun.sh/">Bun</a></li>
              <li><a target="_blank" href="https://nuxt.com/">Nuxt 3</a></li>
              <li><a target="_blank" href="https://postgresql.org/">Postgresql </a></li>
            </ul>
          </div>
        </div>
        <!-- <button class="py-2 px-2 underline opacity-20 ">Intéressé par le projet ? <br> Voir Plus</button> -->
      </article>
    </section>

    <section class="mt-16" >
      <h4 class=" text-2xl ">Projets d'entreprises</h4> 
      <br>
      <div class="grid grid-cols-1 grid-rows-1 group w-full group " >
        <div class=" row-start-1 row-end-2 col-span-full w-full flex flex-row justify-center h-full items-center opacity-0 group-focus-within:opacity-100  group-hover:opacity-100 z-10" >
          <a class=" outline-none cursor-pointer w-4/12 max-w-lg p-4 bg-indigo-200 rounded text-center text-lg hover:shadow-inner-sm transition-all shadow-inner hover:scale-105" href="/projets" >Voir les projets</a>
        </div>
        <ul class="gap-10 grid grid-flow-col overflow-hidden py-4 group-hover:opacity-20 group-focus-within:opacity-20 row-start-1 row-end-2 col-span-full z-0" >
          {
            enterpriseProjects.map( ( app, index) => {
              return <Card className={ cardColor(index) } link={app.link} >
                <p class={`text-9xl opacity-60 ${textColor(index)}`} slot="title" >{ app.applicationName }</p>
                </Card>
              })
            }
        </ul>
      </div>
    </section>

  </main>
</DefaultLayout>
