---
import Default from '../layouts/Default.astro';
import Card from '../components/Card.astro';

const applications = [
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Developpement de l'application ",
    applicationName : "Karyo - Admin",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Developpement de l'application ",
    applicationName : "Karyo - Acteur",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Portage et Ajout de features à l'application ",
    applicationName : "NowWhat",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Developpement de l'API ",
    applicationName : "Karyo - Beta",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Developpement de l'API ",
    applicationName : "Improvize - V1",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Developpement de l'API ",
    applicationName : "Karyo - V1",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-red-500",
    title : "Improvize",
    description : "Developpement d'une libraire de composants",
    applicationName : "",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  },
  {
    className : "bg-green-500",
    title : "Improvize",
    description : "Developpement du site internet ",
    applicationName : "Improvize",
    link : {
      href : "/demo",
      label : "Voir Plus"
    }
  }
]
---

<Default title="Accueil - Antoine Jézéquel">
	<main class="ml-10 mt-28">

    <section class="h-96" >
      
    </section>

    <section>
      <h3 class=" text-2xl ">Projet en cours</h3> 
      <br>
      <article class="rounded h-80 bg-gradient-to-l from-indigo-50 py-2 flex flex-row" >
        <img class=" max-h-full" src="https://cdn.dribbble.com/users/1756963/screenshots/16199327/media/2574545a2a10397d6bb43b8001ecc585.png" alt="">
        <div class="flex flex-col ml-2" >
          <p class=" font-mono text-xl h-6 font-semibold" ><strong>MyShort</strong></p>
          <p class=" font-light text-base" >
            Application communautaire basée sur l'échange de données sur des produits. <br>
            Elle à pour objectif de founir des images, vidéos, documents ... permettant l'entretient et la réparation de produits éléctroménagés, vehicules etc ... .
          </p>
        </div>
        <button class="py-2 px-2 underline opacity-20 ">Intéressé par le projet ? <br> Voir Plus</button>
      </article>
    </section>

    <section>
      <h4 class=" text-2xl ">Projets d'entreprises</h4> 
      <br>
      <ul class="gap-10 grid grid-flow-col overflow-auto" >
        {
          applications.map( app => {
            return <Card className={ app.className } >
              <p class="text-cyan-50 text-opacity-90" slot="title" >{ app.title }</p>
              <p class=" font-semibold text-opacity-90 text-white" slot="role" >{ app.description }<strong>{ app.applicationName }</strong></p>
            </Card>
          })
        }
      </ul>
    </section>

  </main>
</Default>
