---
interface Props {
	className: string;
  link: string;
}

const { className, link } = Astro.props;
---
<!-- bg-slate-100 -->
<!-- bg-slate-200 -->
<li class=`w-96 p-4 h-96 rounded flex flex-col justify-between bg-opacity-30 ${className}` >
  <header class="" >
    <p class="text-zinc-800"><slot name="title" /></p>
    <p class=" font-semibold text-zinc-800" ><slot name="role" /></p>
  </header>
  <div class=" bg-gray-950 bg-opacity-80 rounded px-2 py-1 text-cyan-50 self-start hover:bg-opacity-70" >Voir Plus</div>
</li>