---
// interface Props {
// 	className: string;
// }

// const { className } = Astro.props;
const mainPagesLinks = [
  {
    href : "/projets",
    label : "Projets"
  },
  {
    href : "/",
    label : "Accueil"
  },
  {
    href : "/a-propos",
    label : "A Propos"
  }
]
---

<header class=" bg-slate-400 bg-opacity-10 w-full h-20">

  <ul class=" flex flex-row gap-3 h-full align-middle justify-end mr-8" >
    {
      mainPagesLinks.map( link => {
        return <li class="flex items-center justify-center" >
          <a href={link.href} class="h-fit" >{ link.label }</a>
        </li> 
      })
    }
  </ul>
</header>