---
import Default from '../../layouts/Default.astro';
import {ViewTransitions} from 'astro:transitions';

export async function getStaticPaths() {
  const pages = [
    {
      slug: undefined,
      title: "Astro Store",
      text: "Welcome to the Astro store!",
    },
    {
      slug: "13",
      title: "Astro products",
      text: "We have lots of products for you",
    },
    {
      slug: "products/astro-handbook",
      title: "The ultimate Astro handbook",
      text: "If you want to learn Astro, you must read this book.",
    },
    {
      title : "Developpement de l'application "
    },
    {
      title : "Developpement de l'application "
    },
    {
      title : "Portage et Ajout de features à l'application "
    },
    {
      title : "Developpement de l'API "
    },
    {
      title : "Developpement de l'API "
    },
    {
      title : "Developpement de l'API "
    },
    {
      title : "Developpement d'une libraire de composants"
    },
    {
      title : "Developpement du site internet "
    },
  ];
  return pages.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

---
<head>
  <ViewTransitions />
</head>
<Default title="Accueil - Antoine Jézéquel">
	<main class="ml-10 mt-16">

    LOG

  </main>
</Default>
